.site-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0f212e; /* Stake's dark background color */
  z-index: 9999;
  transition: opacity 0.5s ease-out;
}

.site-loader.fade-out {
  opacity: 0;
  pointer-events: none;
}

.loader.svelte-fyx8vh {
  width: 120px;
  height: auto;
  object-fit: contain;
}

